* {
    box-sizing: border-box;
}

html {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

nav {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
	position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: font 0.1s ease-in;
}

.nav-links {
	flex: 1;
    display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.nav-links a {
	vertical-align: middle;
}

nav a:hover {
    color: red;
    font-size: 1.375em;
	font-weight: bolder;
}

#botoncontacto:hover {
    color: black;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
	height: 1.8em;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.logo img{
	height: 100%;
}

.brand-list {
    display: flex;
    /*align-items: center;
    margin-right: 1.25em;*/
	justify-content: space-around;
	margin: 1em;
}

.brand-item {
    /*margin-left: 1.25em;*/ 
	margin: 0.5em;
}

.brand-item img {
    max-height: 5em;
    max-width: 100%;
}

#carrusel {
    background: #333;
}

#carrusel img {
    max-height: 37.5em;
    max-width: 100%;
    margin: auto;
    display: block;
}

.mensajebienvenida {
    background-color: white;
    padding: 1.25em;
    margin-top: 1.25em;
}

.mensajebienvenida h3 {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

.mensajebienvenida p {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}
/*cambio */
.tarjetas {
    display: flex;
    justify-content: space-around;
    margin-top: 3.125em;
}

.tarjeta {
    align-items: center;
    background-color: transparent;
    padding: 1.25em;
    border-style: none;
    max-width: 12.5em;
    width: 30%;
    height: 6.5em;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

.tarjeta img {
    transition: transform 0.2s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.5);
}

.introducciontarjetas {
    text-align: center;
}

.tarjeta img {
    width: 5em;
    height: 5em;
    object-fit: contain;
}

.tarjeta h4 {
    margin-top: 1.25em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .tarjetas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .tarjeta {
      width: 80%;
      margin: 10px 0;
    }
  
    .tarjeta:hover {
      transform: none;
    }
  }

.contactanos {
    text-align: center;
}

#formulario {
    margin: 0.9375em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.25em;
    font-size: 0.875em;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer img {
    max-width: 70%;
}

footer a:hover {
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    margin: auto;
  }
  
  .card-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card-container h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-container p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .card-container a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

.cardnot {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
    margin-bottom: 30px;
  }
  
  .cardnot:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cardnot .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    object-fit: cover;
  }
  
  .cardnot .card-body {
    padding: 35px;
  }
  
  .cardnot .card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .cardnot .card-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .cardnot .btn-primary {
    background-color: red;
    border-color: red;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
  }
  
  .cardnot .btn-primary:hover {
    background-color: red;
    border-color: red;
    transform: translateY(-2px);
  }

  @media (max-width: 768px) {
    .card-container {
      flex-wrap: wrap;
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
    .card {
        width: 100%;
      }
    }

@media only screen and (max-width: 570px) {
   
	.menu {
		display: block !important;
	}

	.nav-links {
		position: absolute;
		top: 100%;
		width: 100%;
		height: 0em;
		z-index: 2;
		background: #333;
		transition: height 0.3s ease-in;
	}
	
	.nav-links.open {
		height: 2em;
	}
}

.social-icons {
    list-style: none;
}

/*carros*/
#cars {
    width: 95%;
    margin: auto;
}

#cars .accordion .accordion-item .accordion-button > img{
    width: 2em;
    margin: 0 1em;
}

#cars .accordion .accordion-item .accordion-body ul{
    list-style: none;
    padding: 0;
}

#cars .accordion .accordion-item .accordion-body ul > li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5em 0;
    border-bottom: 0.0625em solid #e7e7e7;
}

#cars .accordion .accordion-item .accordion-body ul > li img,
#cars .accordion .accordion-item .accordion-body ul > li p{
    margin: 0;
}

#cars .accordion .accordion-item .accordion-body ul > li button{
    padding: 0.5em 1em;
    border-radius: 0.3125em;
}

#audis{

    width: 17em;
    display: flex;

}

#porche{
    width: 15em;
    display: flex;
}

/*logo footer*/
.section {
    width: 100%;
    justify-content: center;
    display: flex;
}
.section-title {
  text-align: center;
  margin-bottom: 10px;
}
.logocatalogo {
    width: auto;
    height: 1.5em;
}
.car-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 767px) {
    .car-grid {
      grid-template-columns: 1fr;
    }
  }
  
.card {
	position: relative;
	width: 400px;
	height: 300px;
	background-color: #000;
	overflow: hidden;
}
.card__image {
	height: 200px;
	width: 80%;
    margin: auto;
	object-fit: cover;
	scale: 1.15;
	transition: opacity 0.25s, scale 0.35s;
}
.card:hover .card__image {
	opacity: 0.05;
	scale: 1;
}
.card__body {
	position: absolute;
	inset: 0;
	padding: 50px;
	color:#333;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	justify-content: center;
}
.card__body::before {
	content: '';
	position: absolute;
	inset: 20px;
	opacity: 0;
	scale: 1.25;
	transition: opacity 0.25s, scale 0.25s;
}
.card:hover .card__body::before {
	opacity: 1;
	scale: 1;
}
.card__title {
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
	translate: -25px;
	transition: opacity 0.25s, translate 0.25s;
}

.card__description {
	font-size: 20px;
	opacity: 0;
	translate: -25px;
	transition: opacity 0.25s, translate 0.25s;
    color: #000;
}
.card:hover .card__description {
	opacity: 1;
	translate: 0;
}

.card:hover .card__title {
	opacity: 1;
	translate: 0;
}

.sticker {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    width: 5em;
    height: 5em;
    background-color: red;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
}

.sticker span {
    transform: rotate(-45deg);
}

.sticker a {
    text-decoration: none;
    color: white;
}

.sticker a:hover {
    color: black;
}

.menu {
	display: none;
    background: #333;
    position: relative;
    width: 3em;
    height: 3em;
    margin: auto 1.5em;
}

.menu span {
    position: absolute;
    display: block;
    height: 10%;
    width: 100%;
    background: #FFF;
    top: 45%;
}

.menu span::before {
    top: -250%;
}

.menu span::after {
    top: 250%;
}

.menu span::after, .menu span::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    transition-duration: .3s,.3s;
    transition-delay: .3s,0s;
    transition-property: top, transform;
}

.menu.open span {
    background: transparent;
}

.menu.open span::before{
	top:0%;
	transform:rotate(45deg);
}

.menu.open span::after{
	top:0%;
	transform:rotate(-45deg);
}

.menu.open span::after, .menu.open span::before{
    transition-delay: 0s,.3s;
}

